
@{
    ViewBag.Title = "История операций";
}

<div class="container" style="margin-top:20px;">
    <div class="row">

        @foreach (var or in ViewBag.OperationResults)
        {
            <p><a href="">@or.Operation.FullName</a></p>
        }

    </div>
</div>

