@{
    ViewBag.Title = "Users";
}

<div class="container" style="margin-top:20px;">
    <div class="row">

        @foreach (var user in ViewBag.Users)
        {
           <p><a href="">@user.FIO</a></p>
        }

    </div>
</div>