@{
    ViewBag.Title = "Users";
}

<div class="container" style="margin-top:20px;">
    <div class="row">

        @foreach (var user in ViewBag.Users as IEnumerable<DomainModels.Models.User>)
        {
           <p>@Html.ActionLink(user.FIO, "View", new { user.Id }) </p>
        }

    </div>
</div>