
@{
    ViewBag.Title = "Сохранённые операции";
}

<div class="container" style="margin-top:20px;">
    <div class="row">

        @foreach (var ufr in ViewBag.UserFavoriteResult)
        {
            <p><a href="">@ufr.Result.Id</a></p>
        }

    </div>
</div>

